


#Documentation button{
  background-color: rgb(245, 245, 245);
  border: 0px;
}

#Documentation button:focus{
  outline: none;
  box-shadow: none;
}

#Documentation button:hover, button:active{
  background-color: rgb(204, 204, 204)!important
}

#Contact button {
  background-color: rgb(245, 245, 245);
  border: 0px;
}

#Contact button:focus{
  outline: none;
  box-shadow: none;
}

#Contact button:hover, button:active{
  background-color: rgb(204, 204, 204)!important
}

#Input_Options button{
  background-color: rgb(245, 245, 245);
  border: 0px;
}

#Input_Options button:focus{
  outline: none;
  box-shadow: none;
}

#Input_Options .datasetactive {
  background-color: rgb(204, 204, 204)!important
}

#Input_Options button:hover, button:active{
  background-color: rgb(204, 204, 204)!important
}

.inputvalues_tab {
  padding: 20px;
  background-color: rgb(204, 204, 204);
  width: 100%;
}

.inputvalues_tab table{
  border: 10px solid rgb(220, 220, 220);
  background-color: rgb(220, 220, 220)!important;
}

.inputvalues_tab tbody{
  padding: 10px;
}
.variablesTable_cells {
  padding-right: 15px;
}

.icon_custom {
  height: 20px;
  width: 20px;
}

.comments {
  color: rgb(23, 141, 161);
  display: inline;
}

.all_content {
  border: 2px solid white;
  background-color: rgb(245, 245, 245)
}

.all_content:hover {
  background-color: rgb(204, 204, 204)!important
}

.all_content:hover .howto_button{
  background-color: rgb(204, 204, 204)!important;
}

.howto_button {
  width: 100%!important;
  text-align: left!important;
  padding: 10px;
}

h4{
  font-size: 19px;
}

.expand-contents {
  display: none;
  padding: 10px;
}

.expand-button {
  display: inline;
  white-space: nowrap;
}

.expand-button Button{
  display: inline;
  white-space: nowrap;
}

.accordion-header {
  display: inline;
}

#query_construct_button {
  padding: 10px;
}

#query_construct_json_button {
  padding: 10px;
}

#query_usage_button {
  padding: 10px;
}

i { position:absolute;
    -webkit-transition:all 300ms ease-in 0s;
    -moz-transition: all 300ms ease-in 0s;
    -o-transition: all 300ms ease-in 0s;
  transition: all 300ms ease-in 0s;
}


.ui-state-active i {
    color: rgb(0, 0, 0);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.ui-state-active {
  padding: 10px;
  width:100%;
  background-color: rgb(204, 204, 204)!important;
  text-align: left;
}

.variable_id_table_col {
  text-align: right;
  padding-right: 5px;
  padding: 2px;
}

.variable_value_table_col {
  text-align: left;
  padding: 2px;
  padding-right: 20px;
}

.timestamp_table_col {
  padding-right: 20px;
  text-align: left;
  padding:2px;
}

.timestamp_index_table_col {
  padding-right: 20px;
  text-align: right;
  padding: 2px;
}

.error {
  text-align: left;
}

.memberdecls {
  width:100%;
  display:inline-block;
}

.memberdecls tbody {
  width:100%;
  display: inline-grid;
}

.memberdecls tr, td {
  width: 100%;
  word-break: break-all;
  display: inline-grid;
}

.request_links {
  width: 100%;
  display: inline-block
}

.variable_table_row {
  display: flex;
}

.timestamp_table_row {
  display: flex;
}

.dataset_buttons_table {
  width: 100%
}

.depth_table_row {
  display: flex;
}

.depth_search {
  text-align: right;
}